.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
.tooltip:hover .tooltiptext {
    visibility: visible;
  }

body {
    background-color: lightblue;
}

h1 {
    color: red;
    font-size: 28px;
}